<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyl.flowershop.dao.ICommentsDao">
	<insert id="insert" parameterType="Comments" flushCache="true">
	   insert into tb_comments (`cdate`,`level`,`comImg`,`details`,`uid`,`fid`,`status`) values ( #{cdate},#{level},#{comImg},#{details},#{uid},#{fid},1);
	</insert>
	
	<select id="findByFid" resultType="Comments">
	   select cdate, level, comImg, details, account, headImg from tb_user u, tb_comments c where c.fid=#{fid} and c.uid = u.uid and c.status = 1;
	</select>
	
	<select id="findByUid" resultType="Comments">
	   select cdate, level, comImg, details, account, headImg from tb_user u, tb_comments c where u.uid=#{uid} and c.uid = u.uid and c.status = 1;
	</select>	
</mapper>