<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyl.flowershop.dao.IOrderDetailsDao">
	<select id="findByOid" resultType="OrderDetails">
		select  odid, num, fname, price, sale
		from tb_order_details od, tb_order o
		where `od.oid`= #{oid} and status=1;
	</select>
	<insert id="insert" parameterType="OrderDetails">
		insert into OrderDetails(`fname`,`num`,`price`,`sale`,`oid`,`status`) values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{fname},#{num},#{price}, #{sale}, #{oid}, 1)
		</foreach>
	</insert>
</mapper>