<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyl.flowershop.dao.IOrderDetailsDao">
	<select id="findByOid" resultType="OrderDetails">
	    select od.oid, odid, num, fid, odate, receiveDate,
	     flag, fid, fname, price, deliveryDesc, flowerImg, sale
	    from tb_order_details od, tb_flower f, tb_order o
	    where o.oid=od.oid and f.fid = od.fid and `od.oid`= #{oid}
	</select>
	<insert id="insert" parameterType="OrderDetails">
	    insert into OrderDetails(`num`,`fid`,`oid`,`status`) values (#{num}, #{fid}, #{oid}, 1);
	</insert>
</mapper>